
<div class = "topbar">
    <div class = "title"><b>Community Salons</b>
        <div class = slogan>
            <b>"It's more then hair!"</b>
        </div>
    </div>
</div>
<div class = "slidePannel">
    <div class = "slideView">
        <div class = "prev_ad">
            <img class = "ads" ng-src = "{{prev.img}}">
                <div class = "linkMes">
                    <a href = "{{prev.link}}" class = "linkTo" target = "_blank">
                        {{prev.link}}
                    </a>
                </div>
            </img>
        </div>
        <div class = "curr_ad">
            <img class = "ads" ng-src = "{{curr.img}}">
                <div class = "linkMes">
                    <a href = "{{curr.link}}" class = "linkTo" target = "_blank">
                        {{curr.link}}
                    </a>
                </div>
            </img>
        </div>
        <div class = "next_ad">
            <img class = "ads" ng-src = "{{next.img}}">
                <div class = "linkMes">
                    <a href = "{{next.link}}" class = "linkTo" target = "_blank">
                        {{next.link}}
                    </a>
                </div>
            </img>
        </div>
        <a class="see_prev_ad" ng-click="prevAd()">
            <img class = "arrow_prev" src = "../IMG/arrow_left.png" />
        </a>
        <a class="see_next_ad" ng-click="nextAd()">
            <img class = "arrow_next" src = "../IMG/arrow_right.png" />
        </a>
    </div>
</div>
<div class="navbar">
    <li><a href = "#!/" class="navbtn" id="home">
        <div class = "tabTxt"><div id = "tabHome">Home</div></div>
    </a></li>
    <li><a href = "#!/barbers" class="navbtn" id="barbers">
        <div class = "tabTxt">Barber Shops</div>
    </a></li>
    <li><a href = "#!/beauties" class="navbtn" id="beauties">
        <div class = "tabTxt">Beauty Salons</div>
    </a></li>
    <li><a href = "#!/nails" class="navbtn" id="nails">
        <div class = "tabTxt"><div id = "tabNail">Nail Salons</div></div>
    </a></li>
    <li><a href = "#!/spas" class="navbtn" id="spas">
        <div class = "tabTxt">Day Spas</div>
    </a></li>
    <li><a href = "#!/styles" class="navbtn" id="styles">
        <div class = "tabTxt">Style Salons</div>
    </a></li>
    <li><a href = "#!/us" class="navbtn" id="us">
        <div class = "tabTxt">About Us</div>
    </a></li>
</div>
