<section>
<div class = "column-board">
    <div class = "columns"><b>Barbers Salons</b><br><br>
        <b>
            <div class = "nearest" ng-repeat = "salon in nearBarbers | orderBy: 'distance'" ng-show = "checker()">
                <div class = "homeShops">
                    <a href = "{{salon.link}}" target ="_blank">
                        <div class = "butt"></div>
                    </a>
                    <a ng-click="alterType('barber')">
                        {{salon.name}}
                    </a>
                </div> 
                <div class = "miles">
                        {{salon.distance}}  Miles 
                </div>
                <br><br><br>
            </div>
        </b>
    </div>
    <div class = "columns"><b>Beauty Salons</b><br> <br>
        <b>
            <div class = "nearest" ng-repeat = "salon in nearBeauties | orderBy: 'distance'" ng-show = "checker()">
                <div class = "homeShops">
                    <a href = "{{salon.link}}" target ="_blank">
                        <div class = "butt"></div>
                    </a>
                    <a ng-click="alterType('beauty')">
                        {{salon.name}}
                    </a>
                </div> 
                <div class = "miles">
                    {{salon.distance}}  Miles 
                </div>
                <br><br><br>
            </div>
        </b>
    </div>
    <div class = "columns"><b>Nail Salons</b><br><br>
        <b>
            <div class = "nearest" ng-repeat = "salon in nearNails | orderBy: 'distance'" ng-show = "checker()">
                <div class = "homeShops">
                    <a href = "{{salon.link}}" target ="_blank">
                        <div class = "butt"></div>
                    </a>
                    <a ng-click="alterType('nail')">
                        {{salon.name}}
                    </a>
                </div> 
                <div class = "miles">
                    {{salon.distance}}  Miles 
                </div>
                <br><br><br>
            </div>
        </b>
    </div>
    <div class = "columns"><b>Day Spas</b><br><br>
        <b>
            <div class = "nearest" ng-repeat = "salon in nearSpas | orderBy: 'distance'" ng-show = "checker()">
                <div class = "homeShops">
                    <a href = "{{salon.link}}" target ="_blank">
                        <div class = "butt"></div>
                    </a>
                    <a ng-click="alterType('spa')">
                        {{salon.name}}
                    </a>
                </div> 
                <div class = "miles">
                    {{salon.distance}}  Miles 
                </div>
                <br><br><br>
            </div>
        </b>
    </div>
    <div class = "columns"><b>Style Salons</b><br><br>
        <b>
            <div class = "nearest" ng-repeat = "salon in nearStyles | orderBy: 'distance'" ng-show = "checker()">
                <div class = "homeShops">
                    <a href = "{{salon.link}}" target ="_blank">
                        <div class = "butt"></div>
                    </a>
                    <a ng-click="alterType('style')">
                        {{salon.name}}
                    </a>
                </div> 
                <div class = "miles">
                    {{salon.distance}}  Miles 
                </div>
                <br><br><br>
            </div>
        </b>
    </div>
</div>
</section>