<div class="navbar">
    <li>
        <a href = "#!/" class="navbtn" id="home">
            <div class = "tabTxt">
                <div id = "tabHome">Home</div>
            </div>
        </a>
    </li>
    <li>
        <a ng-click="alterType('barber')" class="navbtn" id="barbers">
            <div class = "tabTxt">Barber Shops</div>
        </a>
    </li>
    <li>
        <a ng-click="alterType('beauty')" class="navbtn" id="beauties">
            <div class = "tabTxt">Beauty Salons</div>
        </a>
    </li>
    <li>
        <a ng-click="alterType('nail')" class="navbtn" id="nails">
            <div class = "tabTxt">
                <div id = "tabNail">Nail Salons</div>
            </div>
        </a>
    </li>
    <li>
        <a ng-click="alterType('spa')" class="navbtn" id="spas">
            <div class = "tabTxt">Day Spas</div>
        </a>
    </li>
    <li>
        <a ng-click="alterType('style')" class="navbtn" id="styles">
            <div class = "tabTxt">Style Salons</div>
        </a>
    </li>
    <li>
        <a href = "#!/us" class="navbtn" id="us">
            <div class = "tabTxt">About Us</div>
        </a>
    </li>
</div>