<section>
<div id="Home2" class="w3-container w3-border li_tab" ng-repeat = "salon in salons | orderBy: 'distance'">
    <div class="fl-left">
        <div>
            <h2 id="h2">
                <a href = "{{salon.link}}" target ="_blank">
                    <div class = "butt"></div>
                </a>
                {{salon.name}}
                <div class = "miles">
                    Distance: {{salon.distance}} miles
                </div>
                <div class = "duration">
                    Duration: {{salon.duration}}
                </div>
            </h2>
            <div>
                <div class="list-item">
                    <div class = "info">
                        <div class = "shopTag">
                            Address:
                        </div>
                        <div class = "discr">
                            {{salon.address}}
                        </div>  
                        <br>
                        <div class = "shopTag">
                            Owner:
                        </div>
                        <div class = "discr">
                            {{salon.owner}}
                        </div>
                        <br>
                        <div class = "image">
                            <img ng-src = "{{salon.ownImg}}" />
                        </div>
                    </div>
                    <div class = "info">
                        <div class = "shopTag">
                            Schedule:
                        </div>
                        <div class = "discr">
                            {{salon.Monday}} 
                            <br> 
                            {{salon.Tuesday}}
                            <br> 
                            {{salon.Wednesday}} 
                            <br> 
                            {{salon.Thursday}}
                            <br> 
                            {{salon.Friday}} 
                            <br> 
                            {{salon.Saturday}}
                            <br> 
                            {{salon.Sunday}} 
                            <br><br>
                        </div>
                         <div class = "shopTag">
                             phone:
                        </div> 
                        <div class = "discr">
                            {{salon.phone}}
                        </div>
                    </div> 
                </div>
                <div class = "info2">
                    <img ng-src = "{{salon.img[salon.index]}}">
                        <span ng-if = "salon.img.length > 1">
                            <span ng-if = "salon.index > 0">
                                <div id = "left-holder">
                                    <a ng-click = "prevIndex(salon)">
                                        <img class = "leftArrow" src = "../IMG/arrow_left.png" />
                                    </a>
                                </div>
                            </span>
                            <span ng-if = "salon.img.length > (salon.index+1)">
                                <div id = "right-holder">
                                    <a ng-click = "nextIndex(salon)">
                                        <img class = "rightArrow" src = "../IMG/arrow_right.png" />
                                    </a>
                                </div>
                            </span>
                        </span>
                    </img>
                </div>
            </div>
        </div>
    </div>
</div>
</section>