<div class = "topbar">
    <div class = "title">Community Salons</div>
</div>
<div class="navbar">
    <li><a href = "#!/" class="navbtn" id="home">Home</a></li>
    <li><a href = "#!/styles" ng-click = "reset()" class="navbtn" id="styles">Style Shops</a></li>
    <li><a href = "#!/barbers" ng-click = "reset()" class="navbtn" id="barbers">Barber Shops</a></li>
    <li><a href = "#!/nails" ng-click = "reset()" class="navbtn" id="nails">Nail Shops</a></li>
    <li><a href = "#!/us" class="navbtn" id="us">About Us</a></li>
</div>
<div id="Home2" class="w3-container w3-border li_tab">
    <div class="fl-left2">
        <div>
            <h2 id="h3">{{shop.name}}</h2>
        </div>
    </div>
</div>

