<header ng-include="'/views/header.html'"></header>
<section>
<div id="Home2" class="w3-container w3-border li_tab">
    <div class="fl-left2">
        <div>
            <h2 id ="h2">Community Salons</h2>
            <div>
                <div class="list-item2">
                    <div class = "workerPic">
                        <div class = "imageUs">
                            <img src = "../IMG/logo.jpeg"/><br>
                        </div>
                    </div>
                    <div class = "infoUs">
                        <div class = "tag">
                            Company:
                        </div>
                        <div class = "discr">
                            <span style = "font-size: 100%">
                                Community Salon is an advertisement company that promotes local business within the community. Local business are advertise through Community Salons web database, and digital frames located throughout local barber shops, style salons, beauty salons, day spas, and nail salons. 
                            </span>
                        </div>
                    </div>
                    <div class = "infoUs">
                        <div class = "tag">
                            Purpose:
                        </div>
                        <div class = "discr">
                            <span style = "font-size: 90%">
                                Community Salon is a company that gives back to local communities. We do this by partnering with the local salons/shops to display digital frames in their buildings. The revenue we generate from advertisement, we donate $5,000 to the local high school on behalf of all the salons who participate. Our business's goal is to pursue for a better tomorrow by teaming up with the local salons and giving back to the youth within the community. 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Home2" class="w3-container w3-border li_tab" ng-repeat = "worker in workers">
    <div class="fl-left2">
        <div>
            <h2 id ="h2">
                {{worker.name}}
            </h2>
            <div>
                <div class="list-item2">
                    <div class = "workerPic">
                        <div class = "imageUs">
                            <img src = "{{worker.img}}"/>
                            <br>
                                <div class = "tag">
                                    Title: 
                            </div>
                            <div class = "discr">
                                {{worker.title}}
                            </div>
                        </div>
                    </div>
                    <div class = "infoUs">
                        <div class = "tag">
                            Telephone:
                        </div> 
                        <div class = "discr">
                            {{worker.number}}
                        </div>
                        <br><br><br><br><br>
                        <p>
                            <div class = "tag">
                                Business Address:
                            </div> 
                            <div class = "discr">
                                186 Brown Ln, Gainesboro, TN, 38562
                            </div>
                        </p>
                    </div>
                    <div id = "infoMore">
                        <div class = "tag">
                            Contribution:
                        </div> 
                        <div class = "discr">
                            {{worker.disc}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>