.topbar {
    background-color: white;
    height: 85px;
    width: 100%;
    background: url("../IMG/logo.jpeg");
}

.logocontainer {
    width: auto;
    height: inherit;
    float: left;
}


.column-board{
    display:flex;
}

.columns {
    font-size: 24px;
    text-decoration-color: aqua;
    border: 2px solid black;
    width: 33%;
    height: 90%;
    text-align: center;
    padding: 1%;
    display: inline-block;
    background-color:antiquewhite;
}

.homeShops {
    display:inline-flex;
    font-size: 24px;
    color:burlywood;
    width: 50%;
    padding-left: 10px;
    margin-left: 5px;
    text-align:left;
}

.homeShops a {
    color:burlywood;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
}

.homeShops a:hover {
    color: purple;
}

.butt {
   background:url("../IMG/favicon.jpg");
    width:17.1px;
    height:17.2px;
    margin-top: 4;
    margin-right: 15px;
    background-color:aqua;
}

.butt a:hover {
    cursor:pointer;
    text-decoration: underline;
    background-color: blue;
    color:white;
}

.us {
    color:red;
    font-size:24px;
    text-align: center;
}

.us a:hover{
    cursor:pointer;
}

.marginR {
    margin-right: 1%;
}

.nearest {
    font-style:normal;
    padding:2%;
    font-size: 20px;
}


.miles {
    color: black;
    font-size: 17px;
}

.nearest .miles{
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 90px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    min-width: 105px;
}

.image{
    float:left;
    width: 70%;
    height:50%;
}

.imageUs{
    float:left;
    width: 60%;
    height: 65%;
}


img{
    float:left;
    width:100%;
    height: 100%;
	min-width: 60px;
	min-height: 60px;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
}

.info{
    width: 45%;
    float:left;
    margin-left: 5%;
    display: inline-block;
}

.info2{
    width: 45%;
    margin-left: 5%;
    display: inline-block;
    position: relative;
}
.infoUs{
    font-size: 20px;
    width: 28%;
    float:left;
    display: inline;
    margin-left: 4%;
    margin-top: 2%;
 
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}


.dropdown:hover .dropbtn 
{
    background-color: grey;
}

.navbar 
{
    list-style-type: none;
    margin: 0;
    border: 1px solid black;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-bottom: 5px solid black;
}


.navbtn
{   
    float: left;
    width: 20%;
    height: 30px;
    margin: auto;
    
    font-size: 20px;
    
    text-decoration: none;
    text-align: center;
    
    background-color:white;
    color: black;
}


.navbar a
{
    background-color:burlywood;
    
}
.navbar a:hover
{
    background-color: grey;
    cursor:pointer;
}
.navbar .currentTab
{
    background-color: black;
    color: white;
    font-weight: bold;
}

#content
{
    float: left;
    width: 100%;
}

.section
{
    border: 1px solid black;
}

.left
{
    float: left;
    width: 60%;
    margin: 2%; 
}

.right
{
    float: right;
    width: 30%;
    margin: 2%; 
}

.title
{
    padding-left: 2%;
    padding-top:-2%;
    padding-bottom: 2.5%;
    text-align: center;
    font-size: 45px;
    font-style: oblique;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
    color:burlywood;
}
.slogan{
    text-align:center;
    font-size: 28px;
    color:burlywood;
}

.title .slogan {
    display: block;
}


#h2 {
    margin-left: 8;
    display: inline-flex;
    color: burlywood;
}

#h2 .butt {
    width:17.1px;
    height:17.4px;
    margin-top: 4;
    margin-right: 15px;
    background-color:aqua;
}

#h2 .miles {
    margin-left: 30;
    margin-top: 5;
}
#h3 {
    margin-top: 30;
    text-align: center;
}

#h2 a:hover
{
    cursor: pointer;
    color: grey;
}
.section-content
{
    padding-left: 2%;
}

.w3-container > ul{
    margin-top: 15px;
}
.shops{
    background-color: burlywood;
}
#home2{
    padding-bottom: 10px
}

#left-holder{
    height:100%;
    width: 15%;
    position:absolute;
    left:0px;
    top:0px;
}

#right-holder {
    height:100%;
    width: 15%;
    position:absolute;
    right:0px;
    top:0px;
}


.leftArrow {
    left: 0px;
}

.rightArrow {
    right: 0px;
}

#left-holder img, #right-holder img {
    height:50px;
    width: 50px;
    position: absolute;
    top: 40%;
}

.fl-left{
    width: 80%;
    float: left;
    padding-top: 2%;
}

.fl-left > div:first-child{
    width: 100%;
    height: 330px;
	position: relative;
	margin: auto;
	max-width: 90%;
	min-width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.fl-left > div:first-child:hover, .fl-left > div:last-child:hover, .fl-right > div:first-child:hover, .fl-right > div:last-child:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.fl-left > div:first-child > div{
    height: 250px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    color:black;
    
}

.fl-left2{
    width: 85%;
    float: left;
	max-width: 120%;
	min-width: 95%;
	margin: auto;
	padding: 20px;
}

.fl-left2 > div:first-child{
    width: 98%;
    height: 460px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.fl-left2 > div:first-child:hover, .fl-left > div:last-child:hover, .fl-right > div:first-child:hover, .fl-right > div:last-child:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.fl-left2 > div:first-child > div{
    height: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    
}
.list-item{
    width: 45%;
    float: left;
}

.list-item > ol{
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}

.list-item2{
    width: 100%;
    float: left;
}

.list-item2 > ol{
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}

.list-details{
    width: 40%;
    float: left;
}

.middle
{
    display: inline-block;
    width: 50%;
}

.circle 
{
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    color: black;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 5px;
}

.section-content a
{
    line-height: 25px;
    width: 50px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
