body {
    background-color: bisque;
}

.topbar {
    height: 12%;
    width: 110%;
    margin-left: -10;
    margin-top:-7;
    margin-bottom:8;
    background: url("../IMG/logo.jpeg");
    background-color: white;
}

.logocontainer {
    width: auto;
    height: inherit;
    float: left;
}


.column-board{
    display:flex;
}

.columns {
    font-size: 28px;
    text-decoration-color: aqua;
    border: 2px solid black;
    width: 33%;
    height: 90%;
    text-align: center;
    padding: 1%;
    position:relative;
    display: inline-block;
    background-color: antiquewhite;
    text-shadow: 2px 2px #DEB887;
}

.nearest .homeShops {
    display: inline-flex;
    font-size: 22px;
    color: burlywood;
    width: 55%;
    padding-left: 4px;
    margin-left: 5px;
    text-align:left;
    float:left;
}

.homeShops a {
    color: burlywood;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}

.homeShops a:hover {
    color: purple;
}

.homeShops .butt {
    float:left;
    left:0;
    margin-right: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: url("../IMG/favicon.jpg");
    background-color: aqua;
    box-shadow: 2px 2px 3px #DEB887;
}

.butt a:hover {
    cursor: pointer;
}

.butt:hover{
    box-shadow: 4px 4px 3px #787474;
    background-color: aliceblue;
}

.nearest .homeShops, .nearest .miles {
    position: relative;
}

.us {
    color: red;
    font-size: 24px;
    text-align: center;
}

.us a:hover {
    cursor: pointer;
}

.marginR {
    margin-right: 1%;
}

.nearest {
    position:relative;
    font-style: normal;
    padding: 2%;
    font-size: 20px;
}


.miles {
    color: black;
    font-size: 17px;
    display:inline-flex;
}

.nearest .miles{
    width:40%;
    float:right;
    right:0;
    margin-top:2%;
    text-shadow: none;
}

.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 90px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    min-width: 105px;
}

.image{
    float: left;
    width: 70%;
    height: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.imageUs{
    float: left;
    width: 75%;
    height: 65%;
    background-color: aqua;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}


#Home2 img{
    float: left;
    width: 100%;
    height: 100%;
	min-width: 60px;
	min-height: 60px;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}


.info{
    width: 45%;
    float: left;
    margin-left: 5%;
    display: inline-block;
}

.info2{
    width: 45%;
    margin-left: 5%;
    display: inline-block;
    position: relative;
    background-color: aliceblue;
}
.infoUs{
    font-size: 20px;
    width: 31.3%;
    float: left;
    display: inline;
    margin-left: 2%;
    margin-top: 2%;
}

.tag{
    text-shadow: 1px 1px #959595;
    color:blue;
    font-size: 22px;
}

.shopTag {
    text-shadow: .5px .5px #959595;
    color:blue;
    font-size: 17px;
}
.discr {
    text-shadow: 0.4px 0.4px #959595;
}
.navbar 
{
    list-style-type: none;
    margin: 0;
    border: 1px solid black;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-bottom: 5px solid black;
    text-align: center;
}


.navbtn
{   
    float: left;
    width: 14.2857143%;
    height: 7%;
    margin: auto;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.tabTxt {
    position: absolute;
    font-size: 22px;
    top:13;
    left:20;
    right:auto;
}

#tabHome {
    position: absolute;
    left: 40;
}

.navbar a
{
    background-color: burlywood;  
}

.navbar a:hover
{
    background-color: grey;
    cursor: pointer;
}
.navbar .currentTab
{
    background-color: black;
    color: white;
    font-weight: bold;
}

.title
{
    padding-left: 2%;
    padding-top: -2%;
    padding-bottom: 2.5%;
    text-align: center;
    font-size: 48px;
    font-style: oblique;
    text-shadow: -3px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
    color: burlywood;
}
.slogan{
    text-align: center;
    font-size: 30px;
    color: burlywood;
}

.title .slogan {
    display: block;
}


#h2 {
    margin-left: 8;
    display: inline-flex;
    color: #DE9C50;
    text-shadow: 2px 2px 2px #7A7876;
}

#h2 .butt {
    float:left;
    left:0;
    margin-right: 10px;
    margin-top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: url("../IMG/favicon.jpg");
    background-color: aqua;
    box-shadow: 2px 2px 3px #DEB887;
}

#h2 .butt:hover {
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 4px 4px 3px #787474;
}

#h2 .miles {
    margin-left: 30;
    margin-top: 5;
    text-shadow: none;
}

#h2 a:hover
{
    cursor: pointer;
    color: grey;
}
.section-content
{
    padding-left: 2%;
}

.w3-container > ul{
    margin-top: 15px;
}


#home2{
    padding-bottom: 10px;
}


#left-holder{
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#right-holder {
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0px;
    top: 0px;
}

#left-holder:hover{
    background-color: rgba(0,0,0,0.5);

}

#right-holder:hover{
    background-color: rgba(0,0,0,0.5);

}

.leftArrow {
    left: 0px;
}

.rightArrow {
    right: 0px;
}


#left-holder img, #right-holder img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
}

#left-holder a:hover, #right-holder a:hover 
{
    color: white;
    cursor: pointer;
    background: yellow;
    background-clip: padding-box;
}

.fl-left{
    width: 80%;
    float: left;
    padding-top: 2%;
}

.fl-left > div:first-child{
    width: 100%;
    background-color:beige;
    height: 330px;
	position: relative;
	margin: auto;
	max-width: 90%;
	min-width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.fl-left > div:first-child:hover, .fl-left > div:last-child:hover, .fl-right > div:first-child:hover, .fl-right > div:last-child:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
}

.fl-left > div:first-child > div{
    height: 250px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    
}

.fl-left2{
    width: 85%;
    float: left;
	max-width: 120%;
	min-width: 95%;
	margin: auto;
	padding: 15px;
}

.fl-left2 > div:first-child{
    width: 89%;
    background-color:beige;
    height: 460px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.fl-left2 > div:first-child:hover, .fl-left2 > div:last-child:hover, .fl-right > div:first-child:hover, .fl-right > div:last-child:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.fl-left2 > div:first-child > div{
    height: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
}

.list-item{
    width: 45%;
    float: left;
}

.list-item > ol{
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}

.list-item2{
    width: 100%;
    float: left;
}

.list-item2 > ol{
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}


.slidePannel {
    display: flex;
    width: 100%;
    height: 22%;
    background-color: bisque;
    border: 3px solid black;
}

.slideView {
    width: 99%;
    display: block;
    margin: 0 auto;
    height: 97%;
    align-self:center;
    position: relative;
    overflow: hidden;
}

.storage{
    height:100%;
    width:100%;
}

.ads {
    height: 100%;
    width: 100%;
    float: left;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.see_prev_ad, .see_next_ad {
    height:100%;
    width:5%;
    position: absolute;
    left:0;
    display: flex;
    background-color: black;
    opacity: .5;
    transition: all 0.2s ease-in-out;
}

.see_next_ad {
    right: 0;
    left: auto;
}


.prev_ad, .next_ad{
    height:100%;
    width:33.33%;
    position: absolute;
    display: flex;
    left:0;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.next_ad {
    right: 0;
    left: auto;
}

.curr_ad {
    height:100%;
    width:33.33%;
    position: absolute;
    display: flex;
    left:33.33%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.slideView .prev_ad:hover, .slideView .curr_ad:hover, .slideView .next_ad:hover {
    -moz-box-shadow: 0 0 30px #000;
    -webkit-box-shadow: 0 0 30px #000;
    box-shadow: 0 0 30px #000;
}

.linkMes {
    background-color: black;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom:0;
    top: auto;
    text-align: center;
}

.prev_ad:hover .linkMes, .curr_ad:hover .linkMes, .next_ad:hover .linkMes {
    opacity: .7;
    
}

.linkTo{
    font-size: 100%;
    color: white;
    margin-top: 2%;
}

.linkTo a:hover{
    cursor: pointer;
}

.arrow_prev, .arrow_next{
    width:100%;
    align-self: center;
}

.arrow_prev {
    background:url("../IMG/arrow_left.png");
}

.arrow_next {
    background:url("../IMG/arrow_right.png");
}

.see_prev_ad:hover, .see_next_ad:hover {
    background-color: rgba(0,0,0,0.5);
    cursor:none;
}

@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	tp {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	tp {opacity: 1;}
}
